#infoPro{
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

#infoPro table{
    width: 90%;
    margin-left: 5%;
}

#infoPro table td,th{
    border-bottom:1px solid gray;
}

#infoClient{
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
}
#infoClient table td,th{
    border-bottom:1px solid gray;
}
#infoClient table{
    width: 90%;
    margin-left: 5%;
}

#infoGere{
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
}

#infoGere table{
    width: 90%;
    margin-left: 5%;
}
#infoGere table td,th{
    border-bottom:1px solid gray;
}
.enunciado{
    width: 250px;
}
table.tableSection {
    display: table;
    width: 72%;
    margin-left: 14%;
}
table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
}
table.tableSection tbody {
    overflow: auto;
    height: 100px;
}
table.tableSection tr {
    width: 100%;
    display: table;
    text-align: left;
}

table.tableSection th,table.tableSection td {
    text-align: center;
    font-family:  sans-serif;
    font-size: 12px;
    height: 18px;
    padding-top: 2px;
    border-bottom:1px solid gray;
}
table.tableSection tr:hover{
    background: #f0f0f0;
}

#infoPro table tr:hover{
    background: #f0f0f0;
}
#infoClient table tr:hover{
    background: #f0f0f0;
}
#infoGere table tr:hover{
    background: #f0f0f0;
}
table.tableSection .th1{
    background-color: #83AF44;
    width: 15%;
}
table.tableSection .th2{
    background-color: #83AF44;
    width: 25%;
}
table.tableSection .th3{
    background-color: #83AF44;
    width: 20%;
}
table.tableSection .th4{
    background-color: #83AF44;
    width: 15%;
}
table.tableSection .th5{
    background-color: #83AF44;
    width: 25%;
}
table.tableSection .td1{
    width: 15%;
}
table.tableSection .td2{
    width: 25%;
}
table.tableSection .td3{
    width: 20%;
}
table.tableSection .td4{
    width: 15%;
}
table.tableSection .td5{
    width: 25%;
}
#cantidadProducto{
    width: 60px;
    height: 20px;
    text-align: center;
}
.flechaDerecha{
    position:absolute;
    right:5%;
    bottom:5%;
}

.flechaIzquierda{
    position:absolute;
    left:5%;
    bottom:5%;
}

.flechaIzquierda:hover,.flechaDerecha:hover{
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 100, 0, 0.46);
    -moz-box-shadow:    0px 0px 10px 0px rgba(0, 100, 0, 0.46);
    box-shadow:         0px 0px 10px 0px rgba(0, 100, 0, 0.46);
}

.guardarDerecho{
    position:absolute;
    right:5%;
    bottom:5%;
}

.guardarIzqiuerdo{
    position:absolute;
    left:5%;
    bottom:5%;
}
#process{
    position:absolute;
    left:5%;
    bottom:5%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

#checkcount1{
    width: 50px;
    border-radius: 50%;
    height: 50px;
    background: #f0f0f0;
    font-weight: bold;
}