ErrorDocument 404 http://productivitymanager.ges.com.co/404
ErrorDocument 403 http://productivitymanager.ges.com.co/403
ErrorDocument 500 http://productivitymanager.ges.com.co/500

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
</IfModule>